<form method="post" action="/traitementEnvoiLienVeilleTinternet.php">

    <textarea id="text-input" oninput="this.editor.update()"
              rows="6" cols="60">Type **Markdown** here.</textarea>
    <div id="preview"></div>

    <textarea class='span8' name=message id=message tabindex="1" cols="80" rows="5"
              required><?php if (isset($_GET['message'])) {
            echo StringCompat::myUrlDecode($_GET['message']);
        } ?></textarea>

    <div class="clearfix" style="padding: 14px 200px;">
        <input class="btn primary" name="password" type="password" id="password" tabindex="2" required/>
    </div>
    <div class="clearfix" style="padding: 14px 200px;">
        <input class="btn primary" name="submit" type="submit" id="submit" tabindex="3" value="Envoyer"/>
    </div>
</form>

<br/><br/>

<div id='mattermostform_success'></div>
<?php
if (isset($_GET['envoiDuMessage'])) {
    if ($_GET['envoiDuMessage'] == 'oui') {
        echo "<p>La veille Mattermost as &eacute;t&eacute; correctement transmis.</p>";
    } else {
        echo "<p>La veille Mattermost n'as pas &eacute;t&eacute; transmis. Veuillez v&eacute;rifiez les informations que vous avez saisies ...</p>";
    }
}
?>
</div>